/* basic css stuff */

.elshea-services-list {
	.tatsu-text-inner {
		padding-top: 15px;
		padding-bottom: 15px;
		ul {

			li {
				font-size: 16px;
				line-height: 1.1em;
			}
		}
		p {
			font-size: 16px;
			line-height: 1.1em;
			margin-bottom: 15px;
		}
	}
}

.elshea-service-title {
	h4 {
		padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
		line-height: 1.1em;
	}

}
